
/* Arial 15 alle letters - check */
body {
  font-family: Arial; 
  font-size: 15px; 
}

/* menu's voorlopige_conclusie, projecties en tabel vette blauwe letters */
/*#tabset > li:nth-child(12) > a {
  color: #004494;
  background-color: transparent;
  font-weight: bold;
}
#tabset > li:nth-child(13) > a {
  color: #004494;
  background-color: transparent;
  font-weight: bold;
}
#tabset > li:nth-child(14) > a {
  color: #004494;
  background-color: transparent;
  font-weight: bold;
}

/* Style for werk tabs */
.custom-tab {
  color: #004494;
  background-color: transparent;
  font-weight: bold;
}

/* Style for Extra tab */
.custom2-tab {
  color: #4E9080;
  background-color: transparent;
  font-weight: bold;
}

/* Change the color of tabpanel menu items in the navbarPage */
.navbar .nav > li > a {
    color: #4E9080; /* Change the color to ba groen */
}

/* Kleur tekst boven inputvelden - check */
.shiny-input-container {
  color: #4C4E52;
}

/* achtergrond van tekstcontainers tekst kleur (niet van navbar) -check */
.active {
  background-color: #FFFFFF;
  color: #4C4E52;
}

/* knoppen stijl - check */
.button { 
  margin: 10px;
  background-color: #4E9080;
  color: white;
}

/* terug knoppen stijl - check */
.back_button { 
  margin: 10px;
  background-color: #80808080;
  color: white;
}

/* werk knoppen stijl - check */
.werk_button { 
  margin: 10px;
  background-color: #004494;
  color: white;
}

.mybordercolor {border:3px solid #4e9080; }

/* info knoppen stijl - werkt */
.infobutton { 
  margin: 10px;
  background-color: #94bcb2;
  color: white;
}

/* radiogroup knoppen stijl - check */
.btn-neutraal {
    color: white;
    background-color: #4E9080;
    border-color: #FFFFFF;
}

/*  #notificatie op midden vd pagina ipv rechtsonder - check */
.shiny-notification {
  position:fixed;
  top: calc(40%);
  left: calc(25%);
  background-color: white;
  color: #4E9080;
  border-color: #4E9080;
  font-weight: bold;
  font-family: Arial; 
  font-size: 25px; 
}

/*#donkerrode waarschuwingen - check */
.shiny-output-error-validation {
  color: #bf0a30;
  font-weight: bold;
}

